@import "@/scss/variable";

.MainH {
    // background-color: $primary-color;
    height: 60vh;
    font-size: $primary-size-text;
}

.container_Down {
    // background-color: red;
    width: 60vh;
    // padding: 0 8vh;
}

.MainH__container_main {
    display: flex;
    justify-content: space-around;
    padding-top: 10vh;
}

.Image_main {
    width: 50vh;
}