@import "@/scss/variable";

.DownloaderButton {
    // height: 10vh;
    // display: flex;
}

.containerForButton {
    display: flex;
}

.buttonDownload {
    background-color: $primary-color;
    padding: 1vh 4vh;
    border-radius: 1vh 0 0 1vh;
    margin-top: 2vh;
}

.buttonDownloadForVers {
    height: 4.4vh;
    background-color: $primary-color;
    border-radius: 0 1vh 1vh 0;
    margin-top: 2vh;
    width: 3vh;
}
.buttonDownload,
.buttonDownloadForVers {
    transition: background-color 0.6s ease;
}

.buttonDownload:hover,
.buttonDownloadForVers:hover {
    background-color: $secondary-color;
}

.VersionApp {
    background-color: $primary-color;
    width: 20vh;
    height: 10vh;
    border-radius: 1vh 1vh 1vh 1vh;
    margin-top: 1vh;

    button {
        width: 100%;
        border-radius: 1vh 1vh 0vh 0vh;
    }

    button:hover {
        background-color: $secondary-color;
    }
}
