.Warning {
    // background-color: red;
    width: 60vh;
    height: 50vh;
    margin-left: 35%;
    margin-top: 5%;
    font-size: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.Warning_text {
    width: 80%;
    background-color: #FF6767;
    padding: 2vh;
    border-radius: 2vh;
}